@import "../../SCSS/_variables.scss";
@import "../../SCSS/_mixins.scss";

body {
    font-family: 'Arial', sans-serif;
    background-color: $header-bg;
    margin: 0;
    padding: 0;
}

.header {
    @include header; // Asegúrate de que 'header' esté definido en _mixins.scss
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}
h1 {
    text-align:center;
    margin-top: 50px;
}
table {
    width: 60%;
    border-collapse: collapse; // Asegura que no haya espacios entre las celdas
    border-radius: 8px;
    margin-left: 350px;
    margin-top: 150px;

    th, td {
        padding: 15px;
        text-align: center; // Alinea el texto a la izquierda
        border: 1px solid #ddd; // Añade bordes a las celdas
    }

    th {
        background-color: #f4f4f4; // Color de fondo del encabezado
        color: #555;
    }

    tr {
        background-color: $header-bg; // Color de fondo de las filas
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1); // Sombra difus
    }

    tr:hover {
        background-color: lighten($header-bg, 10%); // Cambia el color al pasar el ratón
    }
}

.btn {
    padding: 10px 40px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    display: inline-flex;
    
}
.btn-success {
    position: absolute;
    top: 20px;
    right: 390px;
    z-index: 1;
    background-color: $button-bg;
    border: none;
    margin-top: 275px;

    &:hover {
        background-color: $button_hv;
    }
}

.btn-primary {
    
    background-color: $button-bg;
    border: none;

    &:hover {
        background-color: $button_hv;
    }
}

