// Variables para colores y fuentes pagina obras

$table-header-bg: #E8E8E8;
$table-border: rgba(75, 74, 74, 0.1);
$header-bg: #FFFFFF;
$button-bg: #6589C4;
/*variqables" pagina login*/
$button-bg: #6589C4; 
$button_hv: #2D4F6F;
$font-family: 'Roboto', sans-serif;