@import "C:/xampp/htdocs/apellesfenosa/SCSS/_mixins.scss";
@import "C:/xampp/htdocs/apellesfenosa/SCSS/_variables.scss";


/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}

/* Header */
.header {
  @include header;
}


/* Main Heading */
h1 {
  font-size: 2rem;
  color: #444;
  margin: 20px 0;
  text-align: center;
}

/* Table Styles */
table {
  width: 90%; // Ajustado para que la tabla sea más pequeña y centrada
  max-width: 1000px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px; // Bordes redondeados como en la imagen
  box-shadow: -2px 4px 4px 4px rgba(0, 0, 0, 0.1); // Sombra ligera alrededor de la tabla
  margin: 100px auto;
  overflow: hidden; // Para mantener los bordes redondeados de la tabla
  
}

tr {  
  align-items: center;
}


thead {
  background-color: #f3f3f3;
  height: 70px;
}

th, td {
  padding: 12px;
  text-align: center;
  border: none;
  font-weight: 400;
  border-bottom: 2px solid #E8E8E8;
  
}

th {
  font-weight: 500;
  color: #555;
}



/* Image Styles */
td img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 4px;
}

/* Button Styles */
.edit-button {
  padding: 6px 12px;
  background-color:$button-bg;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color:$button_hv;
}
