@charset "UTF-8";
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Header */
.search-bar {
  flex-grow: 1; /* Ocupa el espacio restante */
  display: flex;
}
.search-bar input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Main Heading */
h1 {
  font-size: 2rem;
  color: #444;
  margin: 20px 0;
  text-align: center;
}

/* Table Styles */
table {
  width: 90%;
  max-width: 1000px;
  border-collapse: collapse;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: -2px 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  overflow: hidden;
}

tr {
  align-items: center;
}

thead {
  background-color: #f5f5f5;
  height: 70px;
}

th, td {
  padding: 12px;
  text-align: center;
  border: none;
  font-weight: 400;
  border-bottom: 2px solid #E8E8E8;
}

th {
  font-weight: 500;
  color: #555;
}

/* Image Styles */
td img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

/* Button Styles */
.edit-button {
  padding: 6px 12px;
  background-color: #6589C4;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.edit-button:hover {
  background: #446eb2;
}

.form-container {
  width: 100%;
  max-width: 800px; /* Ajusta el ancho máximo */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

h2 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.grid-container {
  grid-template-columns: 100px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  align-content: center;
}

input[type=text],
input[type=date],
input[type=number],
select,
textarea {
  width: 50%; /* Usar el 100% para llenar completamente la columna */
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #333;
}

input[type=file] {
  width: 50%;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #999;
  outline: none;
}

textarea {
  height: 80px;
  resize: vertical;
}

button[type=submit] {
  display: block;
  width: 50%;
  padding: 12px;
  background-color: #6589C4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button[type=submit]:hover {
  background-color: #0056b3;
}

.section-content {
  display: none; /* Oculta el contenido por defecto */
  margin-bottom: 15px; /* Espacio entre secciones */
  align-items: center;
}

.section-title {
  cursor: pointer; /* Cambia el cursor al pasar sobre el título */
}

form img {
  height: 150px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

#generate-pdf {
  padding: 10px 15px;
  border: none;
  width: 200px;
  border-radius: 5px;
  background-color: #6589C4;
  color: white;
  cursor: not-allowed;
}

#generate-pdf.active {
  background-color: blue;
  cursor: pointer;
}

.busqueda-avanzada-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.busqueda-avanzada-container .toggle-filters {
  padding: 10px 20px;
  background-color: #6589C4;
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.busqueda-avanzada-container .toggle-filters:hover {
  background-color: #446eb2;
}

#busquedaAvanzada {
  display: none;
  padding: 15px;
  width: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);
}
#busquedaAvanzada .filter-group {
  display: flex;
  margin-bottom: 10px;
}
#busquedaAvanzada .filter-group label {
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}
#busquedaAvanzada .filter-group select,
#busquedaAvanzada .filter-group input {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  background-color: #f5f5f5;
  color: #333;
}
#busquedaAvanzada .filter-submit {
  padding: 8px 12px;
  background-color: #6589C4;
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
#busquedaAvanzada .filter-submit:hover {
  background-color: #446eb2;
}/*# sourceMappingURL=Obras.css.map */