@import "C:/xampp/htdocs/apellesfenosa/SCSS/_variables.scss";
@import "C:/xampp/htdocs/apellesfenosa/SCSS/_mixins.scss";

body {
    font-family: 'Arial', sans-serif;
    background-color: $header-bg;
    margin: 0;
    padding: 0;
}

.header {
    @include header;
    display: flex;
    justify-content: space-between; /* Asegura que el logo y el botón estén alineados */
    align-items: center;
    padding: 10px 20px;
}

.btn {
    padding: 10px 40px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 5px;
    
}

.btn-success {
    background-color: $button-bg;
    border: none;

    &:hover {
        background-color: $button_hv;
    }
}

.btn-primary {
    background-color: $button-bg;
    border: none;

    &:hover {
        background-color: $button_hv;
    }
}



// Contenedor principal
.usuaris_box {
    max-width: 1000px;
    margin: 150px auto;
    padding: 20px;
    background-color: $header-bg;
    box-shadow: -2px 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

// Tabla
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    

    th {
        padding: 25px;
        text-align: left;
        background-color: #f4f4f4;
        color: #555;
        

    }

    td {
        padding: 15px;
        text-align: left;
    }

    tr {
        background-color:  $header-bg;
        position: relative; // Necesario para el box-shadow
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1); // Sombra difuminada debajo de cada fila
    }
    .acciones-header {
        text-align: left;  // Alinea el texto "Accions" en el centro sobre los botones
        padding-left: 120px;    // Elimina el padding adicional
    }

    .acciones {
        text-align: center;  // Alinea los botones de acciones al centro
        padding-right: 0;    // Ajusta para que coincida con el encabezado
    }

}
.editar {
    max-width: 1000px;
    margin: 150px auto;
    padding: 20px;
    background-color: $header-bg;
    box-shadow: -2px 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
