@import "../../SCSS/_variables.scss";
@import "../../SCSS/_mixins.scss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
  }

  h1 {
    text-align: center;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px; /* Reduce la distancia entre el título y el formulario */
  }
  

/* Header */
.header {
  @include header;
}

.search-bar{
  margin-right: 540px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end; /* Alinea a la derecha */
  margin-bottom: -90px;
}

.actions {
  margin-right: 540px;
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end; /* Alinea a la derecha */
  margin-bottom: -90px;
}

  
  form {
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 10px; /* Reduce la separación con el título */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 50%; /* Ajusta el tamaño del formulario */
    max-width: 600px; /* Limita el ancho máximo */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  

h2 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna centrada */
    grid-row-gap: 20px; /* Espacio entre filas */
    text-align: center; /* Centra texto dentro */
  }

  label {
    font-size: 14px;
    color: #666;
    display: block; /* Asegura que esté sobre el input */
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"],
  select,
  textarea {
    width: 100%; /* Ocupa todo el ancho del formulario */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    box-sizing: border-box; /* Evita que el padding afecte el ancho */
  }

input[type="file"] {
  width: 50%;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #999;
  outline: none;
}

textarea {
  height: 80px;
  resize: vertical;
}

/* Button Styles */
.edit-button {
  padding: 6px 12px;
  background-color:$button-bg;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color:$button_hv;
}

button[type="submit"] {
  display: block;
  width: 50%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  margin: 0 auto; /* Centra horizontalmente */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.section-content {
  display: none; /* Oculta el contenido por defecto */
  margin-bottom: 15px; /* Espacio entre secciones */
}

.section-title {
  cursor: pointer; /* Cambia el cursor al pasar sobre el título */
}


@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: 2fr; /* Para pantallas más pequeñas, hacer que las filas ocupen todo el ancho */
  }
}


form img {
  height: 150px;
  width: 250px;
  object-fit: cover;
  border-radius: 4px;
}